{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div class="p-5">
                <h3>Welcome To</h3>
                <h1>Mamar Bank</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex align-items-center mt-5">
                <img class="w-100 rounded" src="{% static "images/bank.png" %}" alt="">
            </div>

        </div>
    </div>

{% endblock content %}